<div>
  <!-- 导航 -->
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>

  <!-- 搜索框 -->
  <el-row :gutter="20">
    <el-col :span="8">
      <el-input placeholder="请输入内容" v-model="searchUser">
        <el-button
          slot="append"
          icon="el-icon-search"
          @click="search"
        ></el-button
      ></el-input>
    </el-col>
    <el-col :span="8">
      <el-button @click="showAddUser">添加用户</el-button>
    </el-col>
  </el-row>

  <!-- 对话框 -->
  <el-dialog
    title="添加用户"
    :visible.sync="dialogAddUserVisible"
    @closed="dialogClosed"
  >
    <el-form
      ref="addUserRef"
      :rules="rules"
      :model="addUserForm"
      label-width="80px"
    >
      <el-form-item label="用户名" prop="username">
        <el-input v-model="addUserForm.username" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="addUserForm.password" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="addUserForm.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="addUserForm.mobile" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAddUserVisible = false">取 消</el-button>
      <el-button type="primary" @click="addUser">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 内容列表 -->
  <el-table :data="userData" style="width: 100%">
    <el-table-column prop="username" label="姓名" width="180"></el-table-column>
    <el-table-column prop="email" label="邮箱" width="180"> </el-table-column>
    <el-table-column prop="mobile" label="电话"> </el-table-column>
    <el-table-column label="状态">
      <template slot-scope="scope">
        <el-switch
          @change="changeState(scope.row)"
          v-model="scope.row.mg_state"
        >
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button
          size="mini"
          plain
          type="primary"
          icon="el-icon-edit"
        ></el-button>
        <el-button
          @click="delUser(scope.row.id)"
          size="mini"
          plain
          type="danger"
          icon="el-icon-delete"
        ></el-button>
        <el-button size="mini" plain type="success" icon="el-icon-check"
          >分配角色</el-button
        >
      </template>
    </el-table-column>
  </el-table>

  <!-- 页码 -->
  <el-pagination
    background
    layout="prev, pager, next"
    :total="total"
    :page-size="2"
    :current-page="pagenum"
    @current-change="changeCurrentPage"
  >
  </el-pagination>
</div>
